<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fzm.oa">

    <application>
        <activity
            android:name=".ui.OAWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>