<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fzm.update">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".service.DownloadService"
            android:exported="false" />
        <provider
            android:name=".provider.UpdateProvider"
            android:authorities="${applicationId}.updateprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths" />
        </provider>
    </application>
</manifest>